<div class="container u-margin__bottom-100">
  <div class="o_textbox">
      <header class="u_text-uppercase">
          <h1>
              Capacities
          </h1>
      </header>
      <div class="c_tabs">
          <a href="javascript:;">
              About
          </a>
          <a href="javascript:;" class="active">
              Details
          </a>
      </div>
      <p class="u_text-justify">
          If you understand where young people are when they come into the program, you will have a realistic and accurate way to tailor activities and strategies to meet their unique needs. Focus on the capacities that have the most room for growth
      </p>
  </div>
  <app-filters-list></app-filters-list>
  <app-elements-list></app-elements-list>
</div>