<mat-grid-list cols="6" rowHeight="50px">
    <mat-grid-tile class="items-left" colspan="3" rowspan="1">
        <strong class="u_text-green u_margin-5px">
            %
        </strong>
        <mat-slide-toggle class="u-toggle_switch">
        </mat-slide-toggle>
        <strong class="u_text-grey u_margin-5px">
            #
        </strong>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <div class="u_text-center">
            <div class="u_text-purple">
                <strong class="u_text-uppercase">
                    Pre
                </strong>
            </div>
            <hr class="u_margin-5px u_line-grey">
            <div class="u_text-grey">
                <span class="u_text-capitalize u_margin-5px">
                    Emerging
                </span>
                <span class="u_text-capitalize u_margin-5px">
                    Advanced
                </span>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <div class="u_text-center">
            <div class="u_text-green">
                <strong class="u_text-uppercase">
                    Post
                </strong>
            </div>
            <hr class="u_margin-5px u_line-grey">
            <div class="u_text-grey">
                <span class="u_text-capitalize">
                    Succeeded
                </span>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>